header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.249), rgba(0, 0, 0, 0.216)),
    url("../asstes/sofa-light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
